<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="admin/layout.html :: header_layout">
</head>
<body>

<div
        class="flex h-screen bg-gray-50 dark:bg-gray-900"
        :class="{ 'overflow-hidden': isSideMenuOpen }"
>
    <!-- Desktop sidebar -->
    <th:block th:replace="admin/layout.html :: head_bar"></th:block>
    <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
            <div
                    class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300"
            >
                <!-- Mobile hamburger -->
                <button
                        class="p-1 mr-5 -ml-1 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
                        @click="toggleSideMenu"
                        aria-label="Menu"
                >
                    <svg
                            class="w-6 h-6"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"
                        ></path>
                    </svg>
                </button>
                <!-- Search input -->
                <div class="flex justify-center flex-1 lg:mr-32">
                    <div
                            class="relative w-full max-w-xl mr-6 focus-within:text-purple-500"
                    >
                        <div class="absolute inset-y-0 flex items-center pl-2">
                            <svg
                                    class="w-4 h-4"
                                    aria-hidden="true"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                            >
                                <!--                                <path-->
                                <!--                                        fill-rule="evenodd"-->
                                <!--                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"-->
                                <!--                                        clip-rule="evenodd"-->
                                <!--                                ></path>-->
                            </svg>
                        </div>
                        <input style="background: white" readonly
                               class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                               type="text"

                               aria-label="Search"
                        />
                    </div>
                </div>
                <ul class="flex items-center flex-shrink-0 space-x-6">
                    <!-- Theme toggler -->
                    <li class="flex">
                        <button
                                class="rounded-md focus:outline-none focus:shadow-outline-purple"
                                @click="toggleTheme"
                                aria-label="Toggle color mode"
                        >
                            <template x-if="!dark">
                                <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                >
                                    <path
                                            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                                    ></path>
                                </svg>
                            </template>
                            <template x-if="dark">
                                <svg
                                        class="w-5 h-5"
                                        aria-hidden="true"
                                        fill="currentColor"
                                        viewBox="0 0 20 20"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                            clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </template>
                        </button>
                    </li>


                    <!-- Profile menu -->
                    <li class="relative">
                        <button
                                class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                                @click="toggleProfileMenu"
                                @keydown.escape="closeProfileMenu"
                                aria-label="Account"
                                aria-haspopup="true"
                        >
                            <img
                                    class="object-cover w-8 h-8 rounded-full"
                                    src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82"
                                    alt=""
                                    aria-hidden="true"
                            />
                        </button>
                        <template x-if="isProfileMenuOpen">
                            <ul
                                    x-transition:leave="transition ease-in duration-150"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0"
                                    @click.away="closeProfileMenu"
                                    @keydown.escape="closeProfileMenu"
                                    class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                                    aria-label="submenu"
                            >
                                <li class="flex">
                                    <a
                                            class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                            href="#"
                                    >
                                        <svg
                                                class="w-4 h-4 mr-3"
                                                aria-hidden="true"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                        >
                                            <path
                                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                                            ></path>
                                        </svg>
                                        <span>Profile</span>
                                    </a>
                                </li>

                                <li class="flex">
                                    <a th:href="@{/logout}"
                                       class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                       href="#"
                                    >
                                        <svg
                                                class="w-4 h-4 mr-3"
                                                aria-hidden="true"
                                                fill="none"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="2"
                                                viewBox="0 0 24 24"
                                                stroke="currentColor"
                                        >
                                            <path
                                                    d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                                            ></path>
                                        </svg>
                                        <span>Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </template>
                    </li>
                </ul>
            </div>
        </header>
        <main class="h-full overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h4
                        class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
                >
                    Create Movie
                </h4>
                <form th:object="${movie}" method="post" th:action="@{/admin/create}" enctype="multipart/form-data">
                    <div
                            class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
                    >
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Name Movie</span>
                            <input pattern="^[a-zA-ZÀ-Ỹà-ỹ]+( [a-zA-ZÀ-Ỹà-ỹ]+)*$" required
                                   title="Tên không được bắt đầu bằng khoảng trống và có kí tự đặc biệt"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   th:field="*{name}"
                            />
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}"></span>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Aired Year</span>
                            <input type="number" min="0" required title="Không được nhập số nhỏ hơn 0"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   th:field="*{airedYear}"
                            />
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('airedYear')}"
                                  th:errors="*{airedYear}"></span>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Duration</span>
                            <input type="number" min="0" required title="Không được nhập số nhỏ hơn 0"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   th:field="*{duration}"
                            />
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('duration')}"
                                  th:errors="*{duration}"></span>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Total Eption</span>
                            <input type="number" min="0" required title="Không được nhập số nhỏ hơn 0"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   th:field="*{totalEp}"
                            />
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('totalEp')}"
                                  th:errors="*{totalEp}"></span>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">IMDB Score</span>
                            <input type="number" min="0" required title="Không được nhập số nhỏ hơn 0" step="0.1"
                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   th:field="*{scoreIMDb}"
                            />
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('scoreIMDb')}"
                                  th:errors="*{scoreIMDb}"></span>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">IMG Movie</span>
                            <input type="file" name="imgMovie" accept="imgage/*"
                                   id="imgMovie"
                                   class="hiddenInput"
                                   th:field="*{img_movie}"
                            />
                            <div class="relative">
                                <input type="text" readonly id="movie"
                                       class="block w-full pl-20 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                                       th:field="*{imgMovie}"
                                />
                                <button type="button"
                                        onclick="chooseFileMovie()"
                                        class="absolute inset-y-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                >
                                    Click
                                </button>
                            </div>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">IMG Poster</span>
                            <input type="file" name="imgPoster" accept="image/*"
                                   id="imgPoster"
                                   class="hiddenInput"
                                   th:field="*{img_poster}"
                            />
                            <div class="relative">
                                <input type="text" readonly id="poster"
                                       class="block w-full pl-20 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                                       th:field="*{imgPoster}"
                                />
                                <button type="button"
                                        onclick="chooseFilePoster()"
                                        class="absolute inset-y-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                >
                                    Click
                                </button>
                            </div>
                        </label>
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Trailer</span>
                            <input type="file" name="urlTrailer" accept="video/*"
                                   id="urlTrailer"
                                   class="hiddenInput"
                                   th:field="*{urlTrailer}"
                            />
                            <div class="relative">
                                <input type="text" readonly id="trailer"
                                       class="block w-full pl-20 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                                       th:field="*{url_trailer}"
                                />
                                <button type="button"
                                        onclick="chooseFileTrailer()"
                                        class="absolute inset-y-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                >
                                    Click
                                </button>
                            </div>

                        </label>


                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                              Quality
                            </span>
                            <select th:field="*{quality}"
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            >
                                <option th:each="quality : ${qualities}" th:value="${quality}"
                                        th:text="${quality}"></option>

                            </select>
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('duration')}"
                                  th:errors="*{quality}"></span>
                        </label>
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                              Status
                            </span>
                            <select th:field="*{status}"
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            >
                                <option th:each="status : ${statuses}" th:value="${status}"
                                        th:text="${status}"></option>

                            </select>
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('status')}"
                                  th:errors="*{status}"></span>
                        </label>
                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">
                              Type
                            </span>
                            <select th:field="*{type}"
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                            >
                                <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>


                            </select>
                            <span class="text-xs text-red-600 dark:text-red-400"
                                  th:if="${#fields.hasErrors('type')}"
                                  th:errors="*{type}"></span>
                        </label>

                        <label class="block text-sm">
                            <th:block th:each="genre : ${genres}">
                                <input th:value="${genre.id}" name="genre" id="genre" th:field="*{movieGenres}"
                                       type="checkbox"
                                       class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                />
                                <span class="ml-2" th:text="${genre.name}">

                                </span>
                            </th:block>
                            <!--                            <span class="text-xs text-red-600 dark:text-red-400" th:if="${#fields.hasErrors('movieGenres')}"-->
                            <!--                                  th:errors="*{movieGenres}"></span>-->


                        </label>

                        <label class="block mt-4 text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Description</span>
                            <textarea th:field="*{description}"
                                      class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                      rows="3"
                                      placeholder="Enter description."
                            ></textarea>
                        </label>
                        <hr>
                        <i onclick="displayEkip()" style="cursor: pointer" class="fa-solid fa-sort">Infomation Ekip</i> <br>
                        <i onclick="displayChapter()" style="cursor: pointer" class="fa-solid fa-sort">Infomation
                            Chapter</i>
                        <div id="ekippp" style="display: none">
                            <div
                                    class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
                            >
                            <span class="text-gray-700 dark:text-gray-400">EKip Movie</span>
                            <div id="ekip">
                                <th:block th:each="ekip, iter : *{eKips}">

                                    <label class="block text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">Name Person</span>
                                        <input list="personList" pattern="^[a-zA-ZÀ-Ỹà-ỹ]+( [a-zA-ZÀ-Ỹà-ỹ]+)*$"
                                               required
                                               title="Tên không được bắt đầu bằng khoảng trống và có kí tự đặc biệt"
                                               class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                               th:id="${'name'+iter.index}"
                                               th:value="${ekip.name}"
                                               th:name="${'eKips['+ iter.index + '].name'}"
                                        />
                                        <datalist id="personList">
                                            <option th:each="person : ${persons}"
                                                    th:name="${person.name}">
                                            </option>
                                        </datalist>
                                    </label>
                                    <label class="block mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                  Role
                </span>
                                        <select th:id="${iter.index}" th:value="${ekip.role}"
                                                th:name="${'eKips[' + iter.index + '].role'}"
                                                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        >
                                            <option th:each="role : ${roles}" th:value="${role}"
                                                    th:text="${role}"></option>

                                        </select>
                                    </label>


                                </th:block>
                            </div>
                            </div>
                            <button type="button" onclick="addMorePerson()"
                                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                            >
                                Add More
                            </button>
                        </div>

                        <div id="chapterrr" style="display: none">
                            <div
                                    class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
                            >
                                <span class="text-gray-700 dark:text-gray-400">Chapter</span>
                                <div id="chapter">

                                    <th:block th:each="chap, iter : *{epMovies}">
                                        <label class="block text-sm">
                                            <span class="text-gray-700 dark:text-gray-400">Name Chapter</span>
                                            <input pattern="^[a-zA-ZÀ-Ỹà-ỹ]+( [a-zA-ZÀ-Ỹà-ỹ]+)*$" required
                                                   title="Tên không được bắt đầu bằng khoảng trống và có kí tự đặc biệt"
                                                   class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                                   th:id="${'chap'+iter.index}"
                                                   th:value="${chap.name}"
                                                   th:name="${'epMovies['+ iter.index + '].name'}"
                                            />
                                            <span class="text-xs text-red-600 dark:text-red-400"
                                                  th:if="${#fields.hasErrors('epMovies.name')}"
                                                  th:errors="${chap.name}"></span>
                                        </label>
                                        <label class="block text-sm">
                                            <span class="text-gray-700 dark:text-gray-400">URL</span>
                                            <input type="file" accept="video/*"
                                                   class="hiddenInput"
                                                   th:id="${'url'+iter.index}"
                                                   th:value="${chap.url}"
                                                   th:name="${'epMovies['+ iter.index + '].url'}"

                                            />
                                            <div class="relative">
                                                <input type="text" readonly
                                                       class="block w-full pl-20 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                                                       th:id="${'urlChapter' + iter.index}"
                                                       th:value="${chap.urlChapter}"
                                                       th:name="${'epMovies['+ iter.index + '].urlChapter'}"
                                                />
                                                <button type="button"
                                                        onclick="chooseFileChapter()"
                                                        class="absolute inset-y-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                                >
                                                    Click
                                                </button>
                                            </div>

                                        </label>
                                    </th:block>
                                </div>

                            </div>
                            <button type="button" onclick="addMoreMovie()"
                                    class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                            >
                                Add More
                            </button>
                        </div>





                    </div>
                    <button type="submit"
                            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    >
                        Create
                    </button>

                    <a th:href="@{/admin/showMovie}">
                        <button type="button"
                                class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        >
                            Back
                        </button>
                    </a>
                </form>


            </div>
        </main>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script th:inline="javascript">

    const persons = [[${persons}]];
    const roles = [[${roles}]];

    let chapter = document.getElementById('chapter');
    let seriesMovie = [[${movie.epMovies}]] || [];
    let currentSizeSerie = seriesMovie.length;

    let ekip = document.getElementById("ekip");
    let ekips = [[${movie.eKips}]] || [];
    let currentSizeEkip = ekips.length;

    function addMorePerson() {
        const data = {
            name: '',
            role: 'ACTOR'
        }
        ekips.push(data);
        renderPerson();
        currentSizeEkip++;
    }

    function renderPerson() {
        let str = "";

        ekips.forEach((ekip, index) => {
            let strOption = "";
            let strRole = "";
            roles.forEach(role => {
                if (role === ekip.role) {
                    strRole += `<option value="${role}" selected>${ekip.role}</option>`

                } else {
                    strRole += `<option value="${role}">${role}</option>`
                }
            })
            persons.forEach(person => {
                if (person.id === +ekip.id) {
                    strOption += `<option value="${person.name}" selected></option>`
                } else {
                    strOption += `<option value="${person.name}"></option>`
                }
            })
            str += `
                                    <label class="block text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">Name Person</span>
                                        <input  list="personList" pattern="^[a-zA-ZÀ-Ỹà-ỹ]+( [a-zA-ZÀ-Ỹà-ỹ]+)*$" required title="Tên không được bắt đầu bằng khoảng trống và có kí tự đặc biệt"
                                                class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                                id="name${index}"
                                                onchange="onChangeNamePerson(this)"
                                                value="${ekip.name || ''}"
                                                name="${'eKips[' + index + '].name'}"
                                        />



                                        <datalist id="personList">
                                            ${strOption}
                                        </datalist>

                                    </label>
                                    <label class="block mt-4 text-sm">
                                        <span class="text-gray-700 dark:text-gray-400">
                                          Role

                                        <select id="${index}" onchange="onChangeRolePerson(this)" value="${ekip.role}" name="${'eKips[' + index + '].role'}"
                                                class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                        >
                                            ${strRole}

                                        </select>
                                    </label>
                                    <button type="button" onclick="removePerson(${index})"
                            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                    >
                        Delete
                    </button>`

        })
        ekip.innerHTML = str;
    }

    function onChangeNamePerson(e) {
        let person = persons.find(person => person.name === e.value);
        if (person == undefined)
            person = {
                id: 0,
                name: e.value,
            }
        let index = e.id.replace("name", "");
        ekips[index].name = person.name
    }

    function onChangeRolePerson(e) {
        let role = roles.find(role => role === e.value);
        let index = e.id.replace("name", "");
        ekips[index].role = role;

    }

    function addMoreMovie() {
        const data = {
            name: '',
            url: ''

        };
        seriesMovie.push(data);
        renderChapter();
        currentSizeSerie++;
    }

    function renderChapter() {

        let str = "";

        seriesMovie.forEach((chap, index) => {
            str +=
                `<label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Name Chapter</span>
            <input pattern="^[a-zA-ZÀ-Ỹà-ỹ]+( [a-zA-ZÀ-Ỹà-ỹ]+)*$" required title="Tên không được bắt đầu bằng khoảng trống và có kí tự đặc biệt"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            id="chap${index}"
            onchange="onChangeNameChapter(this)"
            value="${chap.name}"
            name="${'epMovies[' + index + '].name'}"
            />

            </label>
            <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">URL</span>
            <input type="file" accept="video/*"
                  class="hiddenInput"
                  onchange="onChangeUrl(this)"
                  id="${'url' + index}"
                  value="${chap.url}"
                  name="${'epMovies[' + index + '].url'}"
                      />
                      <div class="relative">
                          <input type="text" readonly
                                                   class="block w-full pl-20 mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input"
                                                   id="${'urlChapter' + index}"
                                                   value="${chap.urlChapter || ''}"
                                                   name="${'epMovies[' + index + '].urlChapter'}"
                                            />
                          <button type="button"
                                                    onclick="chooseFileChapter(${index})"
                                                    class="absolute inset-y-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-l-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                            >
                                                Click
                          </button>
                      </div>


            </label>
            <button type="button" onclick="removeMovie(${index})"
            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
            Delete
            </button>`

        })
        chapter.innerHTML = str;
    }

    function onChangeNameChapter(e) {
        let index = e.id.replace("chap", "");
        seriesMovie[index].name = e.value;
    }

    function removeMovie(index) {
        seriesMovie.splice(index, 1);
        renderChapter();
    }

    function chooseFileChapter(index) {
        document.getElementById("url" + index).click();
        document.getElementById("url" + index).addEventListener("change", function () {
            let path = this.value.split("\\");
            let fileName = path[path.length - 1];

            document.getElementById("urlChapter" + index).value = fileName;
        })
    }

    function removePerson(index) {
        ekips.splice(index, 1);
        renderPerson();
    }

    function chooseFileTrailer() {
        document.getElementById("urlTrailer").click();
        document.getElementById("urlTrailer").addEventListener("change", function () {
            // console.log(this.value)
            let path = this.value.split("\\");
            let fileName = path[path.length - 1];
            // console.log(fileName);

            document.getElementById("trailer").value = fileName;
        })
    }

    function chooseFilePoster() {
        document.getElementById("imgPoster").click();
        document.getElementById("imgPoster").addEventListener("change", function () {
            let path = this.value.split("\\");
            let fileName = path[path.length - 1];

            document.getElementById("poster").value = fileName;
        })
    }

    function chooseFileMovie() {
        document.getElementById("imgMovie").click();
        document.getElementById("imgMovie").addEventListener("change", function () {
            let path = this.value.split("\\");
            let fileName = path[path.length - 1];

            document.getElementById("movie").value = fileName;
        })
    }

    function displayMovie() {
        let value = document.getElementById("movieeee");
        value.style.display = value.style.display === 'none' ? 'block' : 'none';
    }

    function displayEkip() {
        let value = document.getElementById("ekippp");
        value.style.display = value.style.display === 'none' ? 'block' : 'none';
    }

    function displayChapter() {
        let value = document.getElementById("chapterrr");
        value.style.display = value.style.display === 'none' ? 'block' : 'none';
    }


    renderPerson();
    renderChapter();
</script>

</body>
</html>