<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">

<th:block th:replace="client/layout :: header_layout"></th:block>

<body>
<!-- Page Preloder -->
<th:block th:replace="client/layout :: head_bar"></th:block>

<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="/assets/client/img/normal-breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="normal__breadcrumb__text">
          <h2>Login</h2>
          <p>Chào mừng đế với THẾ GIỚI ẢO CMN TƯỞNG</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Login Section Begin -->
<section class="login spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3>Đăng nhập</h3>
          <form action="login" method="post">
            <div class="input__item">
              <input type="text" placeholder="UserName" name="username">
              <span class="icon_mail"></span>
            </div>
            <div class="input__item">
              <input type="password" placeholder="Password" name="password">
              <span class="icon_lock"></span>
            </div>
            <button type="submit" class="site-btn">Đăng nhập</button>
          </form>
          <a href="#" class="forget_pass">Quên mật khẩu?</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__register">
          <h3>Không có tài khoản?</h3>
          <a href="register" class="primary-btn">Đăng ký ngay!</a>
        </div>
      </div>
    </div>
    <div class="login__social">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="login__social__links">
            <span>Hoặc</span>
            <ul>
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Đăng nhập bằng
                Facebook</a></li>
              <li><a href="#" class="google"><i class="fa fa-google"></i> Đăng nhập bằng Google</a></li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Login Section End -->

<!-- Footer Section Begin -->
<th:block th:replace="client/layout :: footer_layout"></th:block>
<script >renderHeaderBar(0)</script>
</body>

</html>