<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx">

<th:block th:replace="client/layout.html :: header_layout"></th:block>

<body>
<!-- Page Preloder -->
<th:block th:replace="client/layout.html :: head_bar"></th:block>


<!-- Normal Breadcrumb Begin -->
<section class="normal-breadcrumb set-bg" data-setbg="/assets/client/img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Đăng ký</h2>
                    <p>Chào mừng đến với THẾ GIỚI ẢO CMN TƯỞNG</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Normal Breadcrumb End -->

<!-- Signup Section Begin -->
<section class="signup spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Đăng ký</h3>
                    <form action="/register" method="post">

                        <div class="input__item">
                            <input type="text" placeholder="Name" name="name">
                            <span class="icon_bag"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="User Name" name="username">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="password" name="password" placeholder="Password">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="email" placeholder="Email" name="email">
                            <span class="icon_mail"></span>
                        </div>
                        <button type="submit" class="site-btn">Đăng ký ngay</button>
                    </form>
                    <h5>Bạn đã có tài khoản? <a href="/login" onclick="alert('Đăng ký thành công!')">Đăng nhập</a></h5>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__social__links">
                    <h3>Đăng nhập bằng:</h3>
                    <ul>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Đăng nhập bằng Facebook</a>
                        </li>
                        <li><a href="#" class="google"><i class="fa fa-google"></i> Đăng nhập bằng Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup Section End -->

<!-- Footer Section Begin -->
<th:block th:replace="client/layout.html :: footer_layout"></th:block>
<script>renderHeaderBar(0)</script>
</body>

<script>

</script>
</html>