<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        let showDetail = document.getElementById("movie_detail");
        let url = location.href;
        let id = url.slice(27);
        let idMovie = id;
        let movie;
        initData();

        function displayStatus(text) {
            if (text == "COMPLETE")
                return "Hoàn thành";
            else if (text == "SHOWING")
                return "Đang chiếu";
            else return "Sắp khởi chiếu";
        }

        function initData() {
            $.ajax({
                url: `http://localhost:8080/api/movie/${id}`,
                method: "GET"
            }).done(data => {
                movie = data;
                movie.status = displayStatus(data.status);
                movie.quality = displayQuality(data.quality)
                showDetail.innerHTML = `
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="${movie.img_movie}"
                         style="background-image: url(${movie.img_movie});">
                        <div class="comment"><i class="fa fa-comments"></i> ${movie.commentNum}</div>
                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>${movie.name}</h3>
                            <span></span>
                        </div>
                        <div class="anime__details__rating">
                        <fieldset class="rate" id="voteRate" style="margin: -25px" onchange="submitVote(this.id)">
                            <input type="radio" id="rating10" name="rating" value="10" /><label for="rating10" title="5 stars"></label>
                            <input type="radio" id="rating9" name="rating" value="9" /><label class="half" for="rating9" title="4 1/2 stars"></label>
                            <input type="radio" id="rating8" name="rating" value="8" /><label for="rating8" title="4 stars"></label>
                            <input type="radio" id="rating7" name="rating" value="7" /><label class="half" for="rating7" title="3 1/2 stars"></label>
                            <input type="radio" id="rating6" name="rating" value="6" /><label for="rating6" title="3 stars"></label>
                            <input type="radio" id="rating5" name="rating" value="5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
                            <input type="radio" id="rating4" name="rating" value="4" /><label for="rating4" title="2 stars"></label>
                            <input type="radio" id="rating3" name="rating" value="3" /><label class="half" for="rating3" title="1 1/2 stars"></label>
                            <input type="radio" id="rating2" name="rating" value="2" /><label for="rating2" title="1 star"></label>
                            <input type="radio" id="rating1" name="rating" value="1" /><label class="half" for="rating1" title="1/2 star"></label></fieldset>
                            <span>1.029 Votes</span>
                        </div>
                        <p>${movie.description}</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Năm phát hành:</span>${movie.airedYear}</li>
                                        <li><span>Thể loại:</span>${movie.movieGenres}</li>
                                        <li><span>Chất lượng:</span>${movie.quality}</li>
                                        <li><span>Tình trạng:</span>${movie.status}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Điểm:</span>${movie.scoreIMDb == 0 ? "?" : movie.scoreIMDb + ' / 10.0 IMDb'}</li>
                                        ${movie.type == "SERIES" ?
                    `<li><span>Số tập:</span>${movie.totalEp} tập</li>
                                        <li><span>Thời lượng:</span>${movie.duration} phút / tập</li>` :
                    `<li><span>Thời lượng:</span>${movie.duration} phút</li>`}
                                        <li><span>Đạo diễn:</span>${movie.directors}</li>
                                        <li><span>Diễn viên:</span>${movie.actors}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                            <a class="watch-btn" onclick="watchFilm()"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>`
            })
        }

        function watchFilm() {
            location.href = `/xem-phim/${id}`;
        }

        function displayQuality(text) {
            if (text == "HD_VIET_SUB")
                return "HD Vietsub"
            else return text;
        }

        function submitVote(e) {
            console.log(e)
        }
    </script>
</div>