<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        let showDetail = document.getElementById("movie_detail");
        let genreMovie = document.getElementById("genre");
        let episode = document.getElementById("episode");
        let url = location.href;
        let id = url.slice(27);
        let movieId = id;
        let userId = "6";
        let movie;
        let firstEp;
        initData();
        renderHeaderBar(0);

        function displayStatus(text) {
            if (text == "COMPLETE")
                return "Hoàn thành";
            else if (text == "SHOWING")
                return "Đang chiếu";
            else return "Sắp khởi chiếu";
        }

        function renderGenre() {
            genreMovie.innerHTML = `
                 <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Trang chủ</a>
                    <a href="#">Thể loại</a>
                    <a href="/the-loai/${movie.topGenre.id}">${movie.topGenre.name || ""}</a>
                    <span>${movie.name}</span>
                </div>`
        }

        function initData() {
            $.ajax({
                url: `http://localhost:8080/api/movie/${movieId}`,
                method: "GET"
            }).done(data => {
                movie = data;
                movie.status = displayStatus(data.status);
                movie.quality = displayQuality(data.quality);
                let episodeMovie = "";
                firstEp = movie.seriesMovie[0].id;
                movie.seriesMovie.forEach(f => {
                    episodeMovie += `<a href="/xem-phim/${movieId + "-" + f.id}">${f.name}</a>`;
                })
                episode.innerHTML = episodeMovie;
                showDetail.innerHTML = `
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="${movie.img_movie}"
                         style="background-image: url(${movie.img_movie});">
                        <div class="comment"><i class="fa fa-comments"></i> ${movie.commentNum}</div>
                        <div class="view"><i class="fa fa-eye"></i> ${movie.viewNum}</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>${movie.name}</h3>
                            <span></span>
                        </div>
                        <div class="anime__details__rating">
                            <fieldset class="rate" id="voteRate" style="margin: -25px"></fieldset>
                            <span id="numVote">1.029 Votes</span>
                        </div>
                        <p>${movie.description}</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Năm phát hành:</span>${movie.airedYear}</li>
                                        <li><span>Thể loại:</span>${movie.movieGenres}</li>
                                        <li><span>Chất lượng:</span>${movie.quality}</li>
                                        <li><span>Tình trạng:</span>${movie.status}</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Điểm:</span>${movie.scoreIMDb == 0 ? "?" : movie.scoreIMDb + ' / 10.0 IMDb'}</li>
                                        ${movie.type == "SERIES" ?
                    `<li><span>Số tập:</span>${movie.totalEp} tập</li>
                                        <li><span>Thời lượng:</span>${movie.duration} phút / tập</li>` :
                    `<li><span>Thời lượng:</span>${movie.duration} phút</li>`}
                                        <li><span>Đạo diễn:</span>${movie.directors}</li>
                                        <li><span>Diễn viên:</span>${movie.actors}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i>Thích</a>
                            <a class="watch-btn"><span onclick="watchFilm()" style="cursor: pointer">Xem Ngay</span>
                                <i class="fa fa-angle-right" ></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>`
                getVote();
                renderGenre();
            })
        }

        function watchFilm() {
            location.href = `/xem-phim/${movieId}-${firstEp}`;
        }
    </script>
</div>