<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        const showRandomPoster = document.getElementById("randomPoster");
        const showMovies = document.getElementById("movie");
        const showCartoons = document.getElementById("cartoon");
        const showEpMovies = document.getElementById("episode_movie");
        const showLAMovies = document.getElementById("live_action_movie");
        let movies = [];
        renderHeaderBar(0);
        // renderRandomMovie()
        renderUpdateMovies();
        renderCartoonMovies();
        renderEpMovies();
        renderLAMovies();

        function renderUpdateMovies() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/all?sort=id,desc`,
                method: "GET"
            }).done(data => {
                movies = data.content;
                showMovies.innerHTML = "";
                movies.forEach(m => showMovies.innerHTML += renderMovie(m));
            })
        }

        function renderCartoonMovies() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/4?sort=,desc`,
                method: "GET"
            }).done(data => {
                movies = data.content;
                showCartoons.innerHTML = "";
                movies.forEach(m => showCartoons.innerHTML += renderMovie(m));
            })
        }

        function renderEpMovies() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/seriesM?sort=id,desc`,
                method: "GET"
            }).done(data => {
                movies = data.content;
                showEpMovies.innerHTML = "";
                movies.forEach(m => showEpMovies.innerHTML += renderMovie(m));
            })
        }

        function renderLAMovies() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/14?sort=id,desc`,
                method: "GET"
            }).done(data => {
                movies = data.content;
                showLAMovies.innerHTML = "";
                movies.forEach(m => showLAMovies.innerHTML += renderMovie(m));
            })
        }

        function renderRandomMovie() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/randomM/0`,
                method: "GET"
            }).done(data => {
                movies = data;
                showRandomPoster.innerHTML = "";
                console.log(movies)
                movies.forEach(m => {
                    showRandomPoster.innerHTML = `
                            `
                });
            })
        }
    </script>
</div>