<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        let showRandomMovie = document.getElementById("randomMovie");
        renderRandomMovie()

        function renderRandomMovie() {
            $.ajax({
                url: `http://localhost:8080/api/movie/show/randomM/${movieId || 0}`,
                method: "GET"
            }).done(data => {
                movies = data;
                showRandomMovie.innerHTML = "";
                movies.forEach(m => {
                    m.quality = displayQuality(m.quality);
                    showRandomMovie.innerHTML += `
                            <div class="product__sidebar__view__item set-bg"
                                    data-setbg="${m.img_movie}"
                                    style="background-image: url(${m.img_movie});">
                                <div class="ep">${m.type == 'MOVIE' ? m.quality : (m.epPresent || "?") + "/" + (m.totalEp == 0 ? "?" : m.totalEp)}</div>
                                <div class="view"><i class="fa fa-eye"></i> ${m.viewNum}</div>
                            <h5><a href="/phim/${m.id}">${m.name}</a></h5>
                            </div>`
                });
            })
        }
    </script>
</div>