<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        let playVideo = document.getElementById("player");
        let genreMovie = document.getElementById("genre");
        let url = location.href;
        let id = url.slice(31);
        let film;
        initData();

        function initData() {
            $.ajax({
                url: `http://localhost:8080/api/phim/xem-phim/${id}`,
                method: "GET"
            }).done(data => {
                film = data;
                genreMovie.innerHTML = `
                 <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./categories.html">Thể loại</a>
                    <a href="#">${film.genre}</a>
                    <span>${film.name}</span>
                </div>`
                playVideo.innerHTML = `
                <iframe src="${film.url}"
                                width="847" height="476.4375" frameborder="0" allowfullscreen=""></iframe>`
            })
        }
    </script>
</div>